<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Rubik:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="nav-new navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-left">
        <a class="navbar-brand" href="{{url_for('showCatalog')}}"></a>
      </div>
      <p class="nav-header">CAT-A-LOG APP</p>
      <div class="navbar-right new-btn">
        <a href="{{url_for('showLogin')}}">Login</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
