{% if isLoggedIn %}
  {% extends "header_logout.html" %}
{% else %}
  {% extends "header.html" %}
{% endif %}
{% block content %}

<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info" role="alert">{{ messages[0]}}</div>
    {% endif %}
  {% endwith %}
</div>

<div class="row">
  <div class="col-md-4">
    <p class="column-header highlight-header-green">Categories</p>
    <p>
      {% for categories in category%}
      <p class="category"><a href="{{url_for('showSportItem', cat_id=categories.id)}}">{{categories.name}}</a></p>
      {% endfor %}
    </p>
  </div>
  <div class="col-md-8">
    <p class="column-header highlight-header"> {{ items[0].category.name }} Items ({{items|length}} items) </p>
    {% for items in items %}
    <p class="items"><a href="{{url_for('showEachItem', cat_id=items.cat_id, item_id=items.id)}}">{{items.name}}</a></p>
    {% endfor %}
  </div>
</div>
{% endblock %}
