{% if isLoggedIn %}
  {% extends "header_logout.html" %}
{% else %}
  {% extends "header.html" %}
{% endif %}
{% block content %}

<div class="item-banner">
  <h2 class="item-header">{{item.category.name}}</h2>
  <h3 class="item-padding">{{item.name}}</h3>
  <p class="item-padding">{{item.description}}</p>

  <div>
    <p class="btn-wrapper">
      <a type="button" href='{{url_for('editItem', item_id = item.id)}}' class="btn btn-success" style="display:{% if isOwner %} block {% else %} none {% endif %}">Edit</a>
    </p>
    <p class="btn-wrapper">
      <a type="button" href='{{url_for('deleteItem', item_id = item.id)}}' class="btn btn-danger" style="display:{% if isOwner %} block {% else %} none {% endif %}">Delete</a>
    </p>
  </div>
{% endblock %}
